<!-- https://medium.com/engineered-publicis-sapient/consistent-logging-with-logstash-for-microservices-sharing-a-kubernetes-cluster-7c1aee7ec42f -->
<configuration>

    <!-- For test. Also show log records by standard way -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId:-}-%X{spanId:-}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO" additivity="false">
        <appender-ref ref="console" />
    </root>

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:5044</destination>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId:-}-%X{spanId:-}] %-5level %logger{36} - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>